body{
    background-color: darkred;
    text-indent: 200px;
    color:blueviolet;
}

h1{
    color:deeppink;
}

h2{
    color:aqua;
}

.p10{
    color:chartreuse;
}

H4{
    color: chocolate;
}

img{

    text-indent: 200px;
}
